<launch>	
<!-- loads the controllers -->
	<rosparam file="$(find thespot_control)/thespot_control/config/robot_control.yaml" command="load" />
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn = "false" output = "screen" ns="/thespot_robot" args="joint_state_controller left_back_big right_back_big left_forward_big right_forward_big left_back_small right_back_small left_forward_small right_forward_small" />

	
<!-- converts joint states to TF transforms -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
	<remap from="/joint_states" to="/thespot_robot/joint_states" />
	</node>
</launch>
